<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities">

  <Identity Name="SilverFox.SFCleaner" Publisher="CN=SFCleaner Research" Version="1.0.0.0"/>

  <Properties>
    <DisplayName>SilverFox Cleaner</DisplayName>
    <PublisherDisplayName>SilverFox Research</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0"/>
  </Dependencies>

  <Resources>
    <Resource Language="zh-CN"/>
    <Resource Language="en-US"/>
  </Resources>

  <Applications>
    <Application Id="App" Executable="SFCleaner.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="SilverFox Cleaner"
        Description="银狐木马 (dmo/client) 检测清除工具"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"/>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust"/>
    <rescap:Capability Name="allowElevation"/>
  </Capabilities>
</Package>
